@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product List";
}
<div class="d-flex justify-content-between align-items-center">
    <h1>Product List :</h1>
    <a asp-controller="product" asp-action="create" class="btn btn-primary">Create Product</a>
</div>
@if (!Model.Any())
{
    <div class="alert alert-info">
        No Product to display. Please Create one.
    </div>
}
else
{
    <table id="productTable" class="table">
        <thead>
            <tr>Sr no.</tr>
            <tr>Product Name</tr>
            <tr>Unit</tr>
            <tr>Rate</tr>
            <tr>Actions</tr>
        </thead>
        <tbody>
            @{
                int serialNumber = 1;
            }
            @foreach(var product in Model){
                <tr>@serialNumber</tr>
                <tr>@product.Name</tr>
                <tr>@product.UnitId</tr>
                <tr>@product.Rate</tr>
                <tr>
                    <a class="btn btn-warning">Edit</a>
                    <form onsubmit="return confirm('Are you sure want to delete the @product.Name')" asp-controller="Product"  >
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </tr>
                serialNumber++;
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        $(document).ready(function ()
        {
            $("#productTable").DataTable();
        });
    </script>
}

